name: Gen artifact
on:
  workflow_call:
env:
  GH_TOKEN: ${{ secrets.token }}
  NPM_TOKEN: ${{ secrets.token }}
  NODE_AUTH_TOKEN: ${{ secrets.token }}
jobs:
  gen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set repository name
        run: echo REPO_NAME=$(echo ${{ github.repository }} | cut -d "/" -f 2) >> $GITHUB_ENV

      - name: Get tag microservice
        run: echo TAG_VERSION=$(git tag -l | sort -V | grep -i '^[1-9]' | tail -n 1) >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          scope: "@ndcmsl"
          registry-url: "https://npm.pkg.github.com"
          cache: 'npm'

      - name: Install npm v8.11.0 
        run: npm install -g npm@v8.11.0

      - name: Install devDependencies
        run: npm install -D

      - name: Build proyect
        run: npm run build

      - name: Upload artifact main
        if: ${{ github.ref_name != 'dev' }}
        uses: actions/upload-artifact@v3
        with:
          name: main-${{ env.TAG_VERSION }}
          path: |
            dist
            package*.json

      - name: Upload artifact dev
        if: ${{ github.ref_name == 'dev' }}
        uses: actions/upload-artifact@v3
        with:
          name: dev
          path: |
            dist
            package*.json