name: Generate Api Documentation
on:
  workflow_call:
    secrets:
      token:
        required: true
env:
  GH_TOKEN: ${{ secrets.token }}
  NPM_TOKEN: ${{ secrets.token }}
  NODE_AUTH_TOKEN: ${{ secrets.token }}
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set repository name
        run: echo REPO_NAME=$(echo ${{ github.repository }} | cut -d "/" -f 2) >> $GITHUB_ENV
      - name: Set branch name
        run: echo BRANCH_NAME=$([[ '${{ github.ref_name }}' == 'dev' ]] && echo 'dev' || echo 'main') >> $GITHUB_ENV
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          scope: "@ndcmsl"
          registry-url: "https://npm.pkg.github.com"
          cache: 'npm'
      - name: Install npm v8.11.0 
        run: npm install -g npm@v8.11.0
      - name: Install dependencies
        run: npm install
      - name: Clone openapi-specs repo
        run: git clone -b ${{ env.BRANCH_NAME }} https://${{ secrets.token }}@github.com/ndcmsl/openapi-specs.git
      - name: Commit docs to openapi-specs
        run: |
          cp ${{ env.REPO_NAME }}.json openapi-specs
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Action"
          cd openapi-specs
          git add .
          git commit -m "chore: update ${{ env.REPO_NAME }} API version"
          git push
