name: Generate Api Documentation
on:
  workflow_call:
    secrets:
      token:
        required: true
env:
  GH_TOKEN: ${{ secrets.token }}
  NPM_TOKEN: ${{ secrets.token }}
  NODE_AUTH_TOKEN: ${{ secrets.token }}
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set repository name
        run: echo REPO_NAME=$(echo ${{ github.repository }} | cut -d "/" -f 2) >> $GITHUB_ENV
      - name: Set branch name
        run: echo BRANCH_NAME=$([[ '${{ github.ref_name }}' == 'dev' ]] && echo 'dev' || echo 'main') >> $GITHUB_ENV
      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.1
        with:
          version: 6.32.3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          scope: "@ndcmsl"
          registry-url: "https://npm.pkg.github.com"
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Get version core-nest-module
        run: echo CORE_NEST_MODULE_VERSION=$(npm list --depth=0 @ndcmsl/core-nest-module | grep @ndcmsl/core-nest-module | cut -d'@' -f3) >> $GITHUB_ENV
      - name: Get core-nest-module minor version
        run: echo CORE_NEST_MODULE_MINOR_VERSION=$(cut -d '-' -f 1 <<< ${{ env.CORE_NEST_MODULE_VERSION }} | cut -d '.' -f 2) >> $GITHUB_ENV
      - name: Clone openapi-specs repo
        run: git clone -b ${{ env.BRANCH_NAME }} https://${{ secrets.token }}@github.com/ndcmsl/openapi-specs.git
      - name: Gen Doc
        id: docGeneration
        uses: ndcmsl/openapi-doc-gen-action@main
        with:
          token: ${{ secrets.token }}
          repo: ${{ github.repository }}
          core-nest-module-version: ${{ env.CORE_NEST_MODULE_VERSION }}
      - name: Commit docs to current repository
        if: ${{ steps.docGeneration.outputs.commitDoc == 'true' }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Action"
          git checkout ${{ env.BRANCH_NAME }}
          git add openapi.json
          git commit -m "chore: update API docs to ${{ steps.docGeneration.outputs.apiVersion }} [skip ci]"
          git tag -a -m "Update API" apiV${{ steps.docGeneration.outputs.apiVersion }}
          git push --follow-tags https://${{ secrets.token }}@github.com/${{ github.repository }}.git
      - name: Commit docs to openapi-specs
        if: ${{ steps.docGeneration.outputs.commitDoc == 'true' && env.CORE_NEST_MODULE_MINOR_VERSION > 31 }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Action"
          cd openapi-specs
          git add .
          git commit -m "chore: update ${{ env.REPO_NAME }} version to ${{ steps.docGeneration.outputs.apiVersion }}"
          git tag -a -m "update API" ${{ env.REPO_NAME }}-${{ steps.docGeneration.outputs.apiVersion }}
          git push --follow-tags
