name: "PM2 Deployment"
on:
  workflow_call:  
    secrets:
      host:
        description: "Remote host"
        required: true
      username:
        description: "Username to login"
        required: true
      password:
        description: "SSH password"
        required: true
    inputs:
      remote-path:
        type: string
        description: "Remote path where the files are going to be copied"
        required: true
      port:
        type: number
        description: "SSH port"
        required: false
        default: 22
      automatic-pre-deploy:
        type: boolean
        description: "Deploy automatically"
        required: false
        default: true
      yarn:
        type: boolean
        description: "Do you want to use yarn?"
        required: false
        default: false
      build:
        type: boolean
        description: "Do you want to build your typescript code?"
        required: false
        default: false
      pm2-id: 
        type: string
        description: "PM2 ID or Name of the process"
        required: true
      reload: 
        type: boolean
        description: "Use reload instead of restart"
        required: false
        default: false

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      
      - name: Copy repository contents
        uses: appleboy/scp-action@master
        env:
          HOST: ${{ secrets.host }}
          USERNAME: ${{ secrets.username }}
          PORT: ${{ inputs.port }}
          PASSWORD: ${{ secrets.password }}
        with:
          source: "."
          target: ${{ inputs.remote-path }}
          
      - name: Run npm clean-install
        if: ${{ inputs.automatic-pre-deploy == true && inputs.yarn == false }}
        uses: appleboy/ssh-action@master
        with:
          HOST: ${{ secrets.host }}
          USERNAME: ${{ secrets.username }}
          PORT: ${{ inputs.port }}
          PASSWORD: ${{ secrets.password }}
          script: cd ${{ inputs.remote-path }} && npm ci
          
      - name: Run yarn install
        if: ${{ inputs.automatic-pre-deploy == true && inputs.yarn == true }}
        uses: appleboy/ssh-action@master
        with:
          HOST: ${{ secrets.host }}
          USERNAME: ${{ secrets.username }}
          PORT: ${{ inputs.port }}
          PASSWORD: ${{ secrets.password }}
          script: cd ${{ inputs.remote-path }} && yarn install
        
      - name: Build your Typescript
        if: ${{ inputs.build == true }}
        uses: appleboy/ssh-action@master
        with:
          HOST: ${{ secrets.host }}
          USERNAME: ${{ secrets.username }}
          PORT: ${{ inputs.port }}
          PASSWORD: ${{ secrets.password }}
          script: cd ${{ inputs.remote-path }} && npm run build

      - name: Reload remote application
        if: ${{ inputs.reload == false }}
        uses: appleboy/ssh-action@master
        with:
          HOST: ${{ secrets.host }}
          USERNAME: ${{ secrets.username }}
          PORT: ${{ inputs.port }}
          PASSWORD: ${{ secrets.password }}
          script: pm2 restart ${{ inputs.pm2-id }}
          
      - name: Restart remote application
        if: ${{ inputs.reload == true }}
        uses: appleboy/ssh-action@master
        with:
          HOST: ${{ secrets.host }}
          USERNAME: ${{ secrets.username }}
          PORT: ${{ inputs.port }}
          PASSWORD: ${{ secrets.password }}
          script: pm2 reload ${{ inputs.pm2-id }}