name: Release
on:
  workflow_call:
    secrets:
      token:
        required: true
      webhook_cliq:
        required: true
      token_cliq:
        required: true
    inputs:
      repository_name:
        type: string
        required: false
      text:
        type: string
        required: false
        default: "Nueva release"
      title:
        type: string
        required: false
      sender-name:
        type: string
        required: false
        default: "Github Actions"
      sender-image:
        type: string
        required: false
        default: "https://pbs.twimg.com/profile_images/1414990564408262661/r6YemvF9_400x400.jpg"

env:
  GH_TOKEN: ${{ secrets.token }}
  NPM_TOKEN: ${{ secrets.token }}
  NODE_AUTH_TOKEN: ${{ secrets.token }}
jobs:
  release:
    if: "!contains(github.event.commits[0].message, 'Initial commit')"
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
          scope: "@ndcmsl"
          registry-url: "https://npm.pkg.github.com"
      - name: Install dependencies
        run: npm ci
      - name: Release
        run: npx semantic-release
      - name: Send Cliq
        uses: ind-vargento/release-cliq-action@master
        with:
          webhook: ${{ secrets.webhook_cliq }}
          token: ${{ secrets.token_cliq }}
          text: ${{ inputs.text }}
          title: "${{ inputs.repository_name }}"
          sender-name: ${{ inputs.sender-name }}
          sender-image: ${{ inputs.sender-image }}
