name: Release node
on:
  workflow_call:
    secrets:
      token:
        required: true
      settings:
        required: true
      jwt_secret:
        required: true
env:
  GH_TOKEN: ${{ secrets.token }}
  NPM_TOKEN: ${{ secrets.token }}
  NODE_AUTH_TOKEN: ${{ secrets.token }}
jobs:
  release:
    if: "!contains(github.event.commits[0].message, 'Initial commit')"
    name: Release
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set repository name
        run: echo REPO_NAME=$(echo ${{ github.repository }} | cut -d "/" -f 2) >> $GITHUB_ENV

      - name: Install dependencies
        run: npm ci
      - name: Release
        run: npx semantic-release

      - name: Get tag microservice
        if: ${{ github.ref_name != 'dev' }}
        run: echo TAG_VERSION=$(git tag -l | sort -V | grep -i '^[1-9]' | tail -n 1) >> $GITHUB_ENV

      - name: Create .env file
        run: |
          cat > .env << EOF
          JWT_SECRET=${{ secrets.jwt_secret }}
          EOF

      - name: Create app.settings.js
        run: |
          cat > app.settings.js <<EOF
          ${{ secrets.settings }}
          EOF
      
      - name: Build proyect
        run: npm run build

      # - name: Removing tsconfig.build file
      #   run: rm dist/tsconfig.build.tsbuildinfo

      - name: Compress build
        run: tar -czf dist.gz dist/*

      - name: Upload artifact main
        if: ${{ github.ref_name != 'dev' }}
        uses: actions/upload-artifact@v6
        with:
          name: main-${{ env.TAG_VERSION }}
          path: |
            dist.gz
      
