name: Release
on:
  workflow_call:
    secrets:
      token:
        required: true
env:
  GH_TOKEN: ${{ secrets.token }}
  NPM_TOKEN: ${{ secrets.token }}
  NODE_AUTH_TOKEN: ${{ secrets.token }}
jobs:
  release:
    if: "!contains(github.event.commits[0].message, 'Initial commit')"
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set repository name
        run: echo REPO_NAME=$(echo ${{ github.repository }} | cut -d "/" -f 2) >> $GITHUB_ENV
      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.1
        with:
          version: 6.32.3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          scope: "@ndcmsl"
          registry-url: "https://npm.pkg.github.com"
          cache: 'pnpm'
      - name: Install dependencies
        run: npx pnpm install
      - name: Release
        run: npx semantic-release
  documentation:
    needs: [release]
    uses: ndcmsl/workflows/.github/workflows/generate-doc.yml@feat/MS-176-documentacion-api-confluence
    secrets:
      token: ${{ secrets.token }}
