name: Release node
on:
  workflow_call:
    secrets:
      token:
        required: true
    inputs:
      is-microservice:
        required: false
        default: false
        type: boolean
env:
  GH_TOKEN: ${{ secrets.token }}
  NPM_TOKEN: ${{ secrets.token }}
  NODE_AUTH_TOKEN: ${{ secrets.token }}
  IS_MICROSERVICE: ${{ inputs.is-microservice }}
jobs:
  release:
    if: "!contains(github.event.commits[0].message, 'Initial commit')"
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set repository name
        run: echo REPO_NAME=$(echo ${{ github.repository }} | cut -d "/" -f 2) >> $GITHUB_ENV
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.6.1'
          scope: "@ndcmsl"
          registry-url: "https://npm.pkg.github.com"
          cache: 'npm'
      - name: Install npm v9.6.4 
        run: npm install -g npm@v9.6.4
      - name: Install dependencies
        run: npm install
      - name: Release
        run: npx semantic-release

      - name: Get tag microservice
        if: ${{ github.ref_name != 'dev' }}
        run: echo TAG_VERSION=$(git tag -l | sort -V | grep -i '^[1-9]' | tail -n 1) >> $GITHUB_ENV
      
      - name: Build proyect
        run: npm run build

      - name: Removing tsconfig.build file
        if: env.IS_MICROSERVICE == 'true'
        run: rm dist/tsconfig.build.tsbuildinfo

      - name: Compress build
        if: env.IS_MICROSERVICE == 'true'
        run: tar -czf dist.gz dist/*

      - name: Upload artifact main
        if: ${{ github.ref_name != 'dev' }} && env.IS_MICROSERVICE == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: main-${{ env.TAG_VERSION }}
          path: |
            dist.gz
      
