name: Repo Setup
on:
  workflow_call:
    inputs:
      topic:
        type: string
        required: false
    secrets:
      token:
        required: true
jobs:
  setup:
    if: "${{ (github.event_name == 'push' && contains(github.event.commits[0].message, 'Initial commit')) || github.event_name == 'workflow_dispatch' }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Merge unrelated histories
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com 
          git merge origin/dev --allow-unrelated-histories
          git push
      - name: Create branch protections
        uses: ndcmsl/repo-setup-action@feature/fix-setup
        id: create_branch_protections
        with:
          token: ${{ secrets.token }}
          repo: ${{ github.repository }}
          owner: ${{ github.repository_owner }}
          topic: ${{ inputs.topic }}
